body {
    font-family: sans-serif;
    background: rgb(15,23,42);
    background: linear-gradient(180deg, rgba(15,23,42,1) 0%, rgba(14,39,97,1) 100%); 
    min-height: 100vh;
    height: fit-content;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
}

label {
    margin-top: 0.5rem;
    text-align: left;
}

input {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    border: none;
    border-radius: 0.25rem;
}
input[readonly] {
    background-color: #e2e8f0;
}

button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: 0.25rem;
    background-color: #67e8f9;
    max-width: fit-content;
    align-self: center;
    border: none;
    border-radius: 0.65rem;
    color: #18181b;
    font-size: large;
}
button:hover {
    cursor: pointer;
    background-color: #22d3ee;
}

table {
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

thead {
    background-color: #075985;
}

th, td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

td {
    background-color: rgba(226, 232, 240, 0.2);
}
tr:hover {
    background-color: rgba(226, 232, 240, 0.3);
}

dialog {
    border: none;
    margin: auto;
    position: fixed;
    padding: 2rem;
    inset: 0;
    background-color: #e2e8f0;
    min-width: 25%;
}

#status-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.85rem;
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: auto;
}

.volver-link {
    font-weight: bold;
    color: white;
    padding-left: 1rem;
}

.option-link {
    padding: 1rem;
    background-color: #047857;
    border-radius: 0.5rem;
    text-decoration: none;
    color: white;
}

.option-link:hover {
    background-color: #065f46;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.edit-btn {
    background-color: #f59e0b;
    color: #18181b;
}
.edit-btn:hover {
    cursor: pointer;
    background-color: #d97706;
}

.delete-btn {
    background-color: #ef4444;
    color: #18181b;
}
.delete-btn:hover {
    cursor: pointer;
    background-color: #dc2626;
}